*
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: black;
    color: white;
}

.about
{
    margin: 40px;
    display: flex;
}

.logo
{
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    border: solid 2px;
}

.navbar
{
    margin-top: 15px;
}

.navbar a
{
    margin-left: 30px;
    margin-top: 10%;
    text-decoration: none;
    font-size: large;
    letter-spacing: 1px;
    padding: 10px;
    transition: border-bottom 0.3s ease;
}

.navbar a:hover
{
    border-bottom: solid 2px;
}

.about button
{
    background-color:aqua;
    padding: 10px 30px;
    margin-left: 450px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

/* Flip card */
.home
{
    display: flex;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card {
    margin-top: 20px;
    margin-left: 60px;
    background-color: transparent;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    perspective: 1000px;
    font-family: sans-serif;
}

.flip-card-inner {
    margin-top: 20px;
    margin-left: 60px;
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border: 1px solid coral; */
}

.flip-card-back{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
}
  
.flip-card-front img{
    width: 350px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.2);
    cursor: pointer;
}
  
.flip-card-back {
    border-radius: 1px solid;
    /* background-color: brown; */
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p{
    background-color: transparent;
    width: 300px;
    margin-left: 20px;
  }

/* .profile img
{
    margin-top: 40px;
    margin-left: 100px;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.2);
    cursor: pointer;
}

.profile img:hover
{
    opacity: 0.2;
}

.profile div{
    margin-top: 130px;
    margin-left: 140px;
    width: 300px;
    height: 400px;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    text-align: center;
    z-index: -1;
}

.profile div{
    background-color: transparent;
    z-index: 2;
} */


.profile-content h1
{
    margin-left: 20%;
    margin-top: 80px;
}

.profile-content h2
{
    margin-left: 20%;
    font-size: 300%;
}

.profile-content p
{
    margin-left: 20%;
    /* font-size: 300%; */
    padding-right: 50px;
}

.profile-content a
{
    margin-left: 20%;
    margin-top: 10px;
    border: solid 2px aqua;
    color: aqua;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.profile-content a:hover
{
    box-shadow: 5px 4px 10px rgba(0, 255, 255, 0.5);
    background-color: white;
    color: black;
}

.hr
{
    width: 100%;
    margin-top: 34px;
    color: rgb(26, 28, 29);
}

/* popup box */

.popup-overlay
{
    background-color: gray;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

.popup-box
{
    background-color: black;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 28%;
    align-items: center;
    z-index: 2;
    display: none;
}

.popup-box input
{
    background-color: transparent;
    width: 85%;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: solid white 2px;
    /* transition: 0.2s; */
}

.popup-box textarea
{
    width: 85%;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: solid white 2px;
    /* transition: 0.2s; */
}

.popup-box input:focus
{
    outline: none;
}
.popup-box textarea:focus
{
    outline: none;
}

.popup-box button
{
    padding: 10px;
    border: solid 2px;
    margin: 10px;
    padding: 10px 20px;
}

.popup-box button:hover
{
    box-shadow: 5px 4px 10px rgba(0, 255, 255, 0.5);
    background-color: white;
    color: black;
}


/* Skill section */
.skills
{
    display: flex;
    flex-direction: row;

}

.side-head
{
    width: 160px;
    height: 100vh;
    background-color: rgb(19, 18, 18);
}

.side-head h1
{
    rotate: 270deg;
    margin-left: 80px;
    margin-top: 200%;
    padding: 20px;
    background-color: transparent;
    color: yellow;
    text-decoration: underline;
    letter-spacing: 1px;

}

.background
{
    width: 70%;
    height: 80vh;
    background-color: rgb(19, 18, 18);
    margin-left: 130px;
    margin-top: 80px;
    margin-right: 100px;
    margin-bottom: 50px;
}

#image-container
{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 0;
}

.image
{
    width: 120px;
    height: 120px;
    background-color: transparent;
    margin: 20px;
    position: relative;
    display: inline-block;

}

.image img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 20px;
    margin-top: 50px; 
    padding: 20px;
    transition: transform 0.3s ease;
    background-color: black;
}

.image img:hover {
    transform: scale(1.1);
}

.image-text 
{
    width: 160px;
    position: absolute;
    top: 150%;
    margin-left: 15% ;
    background-color: transparent; 
    background: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}

.image-text p{
    background-color: transparent;
} 

.image:hover .image-text {
    visibility: visible;
    opacity: 1;
}

/* Project Section */
.project-container
{
    width: 90%;
    height: 100%;
    margin-left: 200px;
    margin-top: 25px;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap:wrap;   /*uu*/
}
.project
{
    width: 350px;
    height: 275px;
    border: orangered 2px solid;
    display: grid;
    margin-top: 5px;
    position: relative;
    place-items: center;  /*uu*/
    
}

.project img
{
    width: 350px;
    height: 275px;
    position: absolute;
    background-color: transparent; 
}

.project:hover img
{
    opacity: 0.2;
}

.project:hover .product-title{
    z-index: 2;
}

.product-title{
    background: none;
    z-index: -1;
}

.project .product-title div
{
    text-align: center;
    display: flex;
    font-size: large;
    background: none;
}

/* Footer Section */
.Bottem-info
{
    width: 100%;
    height: 150px;
    bottom: 0px;
    background-color: rgba(53, 52, 52, 0.3);
    display: flex;
} 

.Bottem-image{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 16px;
    margin-top: 15px;
    margin-left: 20px;
}

.GitLink{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.contact-address{
    width: 400px;
    height: 150px;
    background-color: transparent;
    background: none;
    padding-top: 5px;
}

.contact-address  p{
    background-color: transparent;
    margin: 20px ;
}

.Eaducation
{
    background: none;
    background-color: transparent;
    width: 45%;
    right: 0px;
    margin-left: 50px;
    font-family: none;
}

.Eaducation p{
    background: none;
}

.social-media
{
    background-color: transparent;
}

.social-media img
{
    padding: 10px;
    padding-left: 0;
    padding-top: 5px;
}

.social-media a{
    text-decoration: none;
    background: none;
}

.scrolltotop
{
    position: fixed;
    z-index: 4;
    background-color: rgb(90, 83, 83);
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.scrolltotop:hover
{
    background-color: rgb(145, 144, 144);
}
